<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>18</string>
	<key>baskets</key>
	<array>
		<dict>
			<key>basket</key>
			<string>umbrella_man.png</string>
			<key>basket_frame</key>
			<string>{1,318}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>table.png</string>
			<key>basket_frame</key>
			<string>{688, 419}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>water.png</string>
			<key>basket_frame</key>
			<string>{-5, 538}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>umbrella_sun.png</string>
			<key>basket_frame</key>
			<string>{836, 54}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>umbrella_cloud1.png</string>
			<key>basket_frame</key>
			<string>{698, 86}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>umbrella_cloud2.png</string>
			<key>basket_frame</key>
			<string>{516, 56}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>umbrella_cloud3.png</string>
			<key>basket_frame</key>
			<string>{389, 22}</string>
		</dict>
		<dict>
			<key>basket</key>
			<string>umbrella_cloud4.png</string>
			<key>basket_frame</key>
			<string>{626, -13}</string>
		</dict>
	</array>
	<key>elements</key>
	<array>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{743, 315}, {177, 173}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{182, 207}, {177, 173}}</string>
			<key>image</key>
			<string>umbrella_1.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{8, 171}</string>
				<string>{106, 90}</string>
				<string>{122, 108}</string>
				<string>{175, 164}</string>
				<string>{174, 134}</string>
				<string>{162, 96}</string>
				<string>{146, 60}</string>
				<string>{120, 34}</string>
				<string>{73, 9}</string>
				<string>{43, 3}</string>
				<string>{100, 84}</string>
				<string>{3, 170}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{768, 378}, {141, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{55, 216}, {141, 129}}</string>
			<key>image</key>
			<string>umbrella_2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{19, 114}</string>
				<string>{70, 74}</string>
				<string>{81, 76}</string>
				<string>{88, 85}</string>
				<string>{90, 102}</string>
				<string>{106, 107}</string>
				<string>{114, 121}</string>
				<string>{114, 127}</string>
				<string>{138, 80}</string>
				<string>{139, 43}</string>
				<string>{116, 13}</string>
				<string>{82, 1}</string>
				<string>{27, 13}</string>
				<string>{42, 21}</string>
				<string>{47, 41}</string>
				<string>{62, 52}</string>
				<string>{68, 69}</string>
				<string>{33, 97}</string>
				<string>{17, 109}</string>
				<string>{7, 104}</string>
				<string>{6, 96}</string>
				<string>{5, 89}</string>
				<string>{1, 107}</string>
				<string>{7, 111}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{753, 347}, {170, 185}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{155, 245}, {170, 185}}</string>
			<key>image</key>
			<string>umbrella_4.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{16, 143}</string>
				<string>{71, 107}</string>
				<string>{78, 115}</string>
				<string>{79, 127}</string>
				<string>{83, 139}</string>
				<string>{85, 149}</string>
				<string>{100, 148}</string>
				<string>{115, 149}</string>
				<string>{127, 160}</string>
				<string>{136, 185}</string>
				<string>{162, 132}</string>
				<string>{169, 103}</string>
				<string>{161, 79}</string>
				<string>{124, 23}</string>
				<string>{100, 5}</string>
				<string>{46, 2}</string>
				<string>{37, 6}</string>
				<string>{18, 12}</string>
				<string>{31, 23}</string>
				<string>{37, 39}</string>
				<string>{35, 61}</string>
				<string>{31, 70}</string>
				<string>{39, 71}</string>
				<string>{70, 99}</string>
				<string>{41, 120}</string>
				<string>{16, 135}</string>
				<string>{8, 130}</string>
				<string>{10, 116}</string>
				<string>{19, 117}</string>
				<string>{14, 106}</string>
				<string>{8, 111}</string>
				<string>{3, 121}</string>
				<string>{4, 136}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{771, 373}, {133, 128}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{295, 127}, {133, 128}}</string>
			<key>image</key>
			<string>umbrella_5.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{20, 107}</string>
				<string>{70, 70}</string>
				<string>{77, 79}</string>
				<string>{80, 94}</string>
				<string>{94, 103}</string>
				<string>{104, 112}</string>
				<string>{106, 126}</string>
				<string>{123, 103}</string>
				<string>{130, 85}</string>
				<string>{130, 67}</string>
				<string>{128, 46}</string>
				<string>{121, 30}</string>
				<string>{108, 17}</string>
				<string>{89, 6}</string>
				<string>{68, -1}</string>
				<string>{44, 1}</string>
				<string>{21, 14}</string>
				<string>{34, 21}</string>
				<string>{43, 32}</string>
				<string>{45, 49}</string>
				<string>{54, 51}</string>
				<string>{60, 57}</string>
				<string>{66, 64}</string>
				<string>{31, 88}</string>
				<string>{17, 97}</string>
				<string>{9, 95}</string>
				<string>{9, 88}</string>
				<string>{16, 85}</string>
				<string>{13, 81}</string>
				<string>{5, 81}</string>
				<string>{3, 91}</string>
				<string>{5, 101}</string>
				<string>{19, 106}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{759, 402}, {120, 111}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{141, 291}, {120, 111}}</string>
			<key>image</key>
			<string>umbrella_6.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{15, 105}</string>
				<string>{66, 61}</string>
				<string>{73, 67}</string>
				<string>{75, 84}</string>
				<string>{92, 84}</string>
				<string>{99, 100}</string>
				<string>{104, 110}</string>
				<string>{118, 95}</string>
				<string>{118, 72}</string>
				<string>{112, 41}</string>
				<string>{106, 19}</string>
				<string>{77, 7}</string>
				<string>{48, 1}</string>
				<string>{28, 1}</string>
				<string>{12, 12}</string>
				<string>{28, 17}</string>
				<string>{38, 30}</string>
				<string>{42, 46}</string>
				<string>{57, 51}</string>
				<string>{62, 55}</string>
				<string>{22, 89}</string>
				<string>{12, 95}</string>
				<string>{9, 88}</string>
				<string>{3, 83}</string>
				<string>{3, 98}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{714, 379}, {129, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{34, 160}, {129, 129}}</string>
			<key>image</key>
			<string>umbrella_7.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{18, 103}</string>
				<string>{71, 62}</string>
				<string>{57, 54}</string>
				<string>{49, 51}</string>
				<string>{42, 27}</string>
				<string>{33, 15}</string>
				<string>{20, 12}</string>
				<string>{34, 1}</string>
				<string>{61, 6}</string>
				<string>{119, 29}</string>
				<string>{129, 86}</string>
				<string>{126, 114}</string>
				<string>{110, 126}</string>
				<string>{108, 112}</string>
				<string>{100, 99}</string>
				<string>{87, 92}</string>
				<string>{80, 87}</string>
				<string>{75, 70}</string>
				<string>{24, 108}</string>
				<string>{14, 111}</string>
				<string>{5, 102}</string>
				<string>{3, 92}</string>
				<string>{10, 88}</string>
				<string>{12, 100}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{716, 372}, {139, 126}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{408, 190}, {139, 126}}</string>
			<key>image</key>
			<string>umbrella_8.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{18, 109}</string>
				<string>{71, 72}</string>
				<string>{80, 75}</string>
				<string>{88, 82}</string>
				<string>{88, 97}</string>
				<string>{95, 101}</string>
				<string>{104, 107}</string>
				<string>{112, 123}</string>
				<string>{129, 97}</string>
				<string>{139, 62}</string>
				<string>{119, 15}</string>
				<string>{94, 4}</string>
				<string>{67, 4}</string>
				<string>{30, 11}</string>
				<string>{42, 16}</string>
				<string>{49, 29}</string>
				<string>{48, 40}</string>
				<string>{53, 40}</string>
				<string>{65, 49}</string>
				<string>{68, 63}</string>
				<string>{34, 89}</string>
				<string>{19, 97}</string>
				<string>{10, 99}</string>
				<string>{8, 90}</string>
				<string>{4, 82}</string>
				<string>{3, 90}</string>
				<string>{2, 99}</string>
				<string>{7, 109}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{780, 322}, {165, 201}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{361, 323}, {165, 201}}</string>
			<key>image</key>
			<string>umbrella_9.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{7, 159}</string>
				<string>{80, 102}</string>
				<string>{87, 112}</string>
				<string>{99, 130}</string>
				<string>{103, 148}</string>
				<string>{114, 157}</string>
				<string>{129, 171}</string>
				<string>{146, 199}</string>
				<string>{158, 163}</string>
				<string>{164, 136}</string>
				<string>{158, 97}</string>
				<string>{136, 60}</string>
				<string>{112, 35}</string>
				<string>{80, 17}</string>
				<string>{38, 2}</string>
				<string>{10, 5}</string>
				<string>{25, 20}</string>
				<string>{32, 35}</string>
				<string>{48, 44}</string>
				<string>{63, 69}</string>
				<string>{65, 88}</string>
				<string>{72, 93}</string>
				<string>{75, 97}</string>
				<string>{35, 126}</string>
				<string>{13, 141}</string>
				<string>{2, 151}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{773, 327}, {170, 156}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{163, 209}, {170, 156}}</string>
			<key>image</key>
			<string>umbrella_10.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{12, 143}</string>
				<string>{92, 89}</string>
				<string>{102, 95}</string>
				<string>{109, 99}</string>
				<string>{119, 111}</string>
				<string>{123, 125}</string>
				<string>{137, 131}</string>
				<string>{149, 143}</string>
				<string>{155, 154}</string>
				<string>{168, 121}</string>
				<string>{168, 86}</string>
				<string>{159, 44}</string>
				<string>{120, 12}</string>
				<string>{90, 4}</string>
				<string>{48, 7}</string>
				<string>{61, 16}</string>
				<string>{69, 33}</string>
				<string>{69, 46}</string>
				<string>{80, 51}</string>
				<string>{88, 68}</string>
				<string>{88, 82}</string>
				<string>{27, 125}</string>
				<string>{17, 131}</string>
				<string>{13, 127}</string>
				<string>{9, 121}</string>
				<string>{4, 124}</string>
				<string>{3, 139}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{803, 343}, {159, 167}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{122, 245}, {159, 167}}</string>
			<key>image</key>
			<string>umbrella_11.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{14, 149}</string>
				<string>{91, 86}</string>
				<string>{96, 95}</string>
				<string>{128, 128}</string>
				<string>{131, 139}</string>
				<string>{153, 164}</string>
				<string>{158, 124}</string>
				<string>{153, 87}</string>
				<string>{140, 60}</string>
				<string>{134, 51}</string>
				<string>{144, 42}</string>
				<string>{142, 39}</string>
				<string>{131, 46}</string>
				<string>{111, 26}</string>
				<string>{93, 14}</string>
				<string>{69, 7}</string>
				<string>{29, 3}</string>
				<string>{43, 15}</string>
				<string>{51, 33}</string>
				<string>{58, 42}</string>
				<string>{67, 52}</string>
				<string>{77, 64}</string>
				<string>{87, 81}</string>
				<string>{37, 124}</string>
				<string>{11, 141}</string>
				<string>{10, 134}</string>
				<string>{15, 129}</string>
				<string>{11, 125}</string>
				<string>{4, 130}</string>
				<string>{2, 137}</string>
				<string>{2, 145}</string>
				<string>{11, 147}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{789, 321}, {181, 161}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{92, 134}, {181, 161}}</string>
			<key>image</key>
			<string>umbrella_12.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{25, 152}</string>
				<string>{105, 87}</string>
				<string>{113, 93}</string>
				<string>{124, 99}</string>
				<string>{131, 108}</string>
				<string>{134, 122}</string>
				<string>{150, 133}</string>
				<string>{160, 141}</string>
				<string>{166, 158}</string>
				<string>{178, 121}</string>
				<string>{179, 87}</string>
				<string>{170, 60}</string>
				<string>{158, 44}</string>
				<string>{136, 23}</string>
				<string>{113, 10}</string>
				<string>{84, 4}</string>
				<string>{46, 8}</string>
				<string>{58, 19}</string>
				<string>{67, 33}</string>
				<string>{71, 47}</string>
				<string>{85, 55}</string>
				<string>{94, 67}</string>
				<string>{102, 82}</string>
				<string>{57, 118}</string>
				<string>{33, 134}</string>
				<string>{17, 145}</string>
				<string>{10, 139}</string>
				<string>{7, 129}</string>
				<string>{13, 124}</string>
				<string>{8, 117}</string>
				<string>{3, 125}</string>
				<string>{3, 136}</string>
				<string>{8, 146}</string>
				<string>{21, 150}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{771, 359}, {145, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{335, 345}, {145, 129}}</string>
			<key>image</key>
			<string>umbrella_13.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{16, 123}</string>
				<string>{80, 73}</string>
				<string>{80, 85}</string>
				<string>{90, 86}</string>
				<string>{98, 93}</string>
				<string>{100, 107}</string>
				<string>{110, 106}</string>
				<string>{120, 116}</string>
				<string>{120, 126}</string>
				<string>{144, 87}</string>
				<string>{138, 45}</string>
				<string>{113, 16}</string>
				<string>{85, 3}</string>
				<string>{56, 2}</string>
				<string>{24, 19}</string>
				<string>{33, 23}</string>
				<string>{43, 31}</string>
				<string>{41, 44}</string>
				<string>{53, 43}</string>
				<string>{63, 53}</string>
				<string>{61, 63}</string>
				<string>{75, 67}</string>
				<string>{38, 100}</string>
				<string>{22, 115}</string>
				<string>{12, 116}</string>
				<string>{8, 107}</string>
				<string>{11, 103}</string>
				<string>{4, 98}</string>
				<string>{2, 106}</string>
				<string>{4, 116}</string>
				<string>{7, 123}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{793, 349}, {149, 132}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{418, 186}, {149, 132}}</string>
			<key>image</key>
			<string>umbrella_14.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{25, 119}</string>
				<string>{79, 80}</string>
				<string>{91, 87}</string>
				<string>{100, 107}</string>
				<string>{115, 118}</string>
				<string>{119, 131}</string>
				<string>{145, 94}</string>
				<string>{145, 52}</string>
				<string>{128, 23}</string>
				<string>{94, 5}</string>
				<string>{66, 3}</string>
				<string>{34, 19}</string>
				<string>{46, 28}</string>
				<string>{53, 43}</string>
				<string>{66, 54}</string>
				<string>{77, 76}</string>
				<string>{23, 113}</string>
				<string>{11, 113}</string>
				<string>{4, 105}</string>
				<string>{7, 97}</string>
				<string>{7, 91}</string>
				<string>{2, 92}</string>
				<string>{2, 112}</string>
				<string>{10, 119}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{797, 330}, {178, 181}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{189, 154}, {178, 181}}</string>
			<key>image</key>
			<string>umbrella_15.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{12, 162}</string>
				<string>{100, 101}</string>
				<string>{116, 107}</string>
				<string>{122, 121}</string>
				<string>{127, 139}</string>
				<string>{143, 149}</string>
				<string>{151, 163}</string>
				<string>{157, 179}</string>
				<string>{176, 132}</string>
				<string>{170, 82}</string>
				<string>{155, 56}</string>
				<string>{159, 45}</string>
				<string>{148, 44}</string>
				<string>{125, 22}</string>
				<string>{98, 7}</string>
				<string>{68, 2}</string>
				<string>{32, 13}</string>
				<string>{52, 26}</string>
				<string>{65, 57}</string>
				<string>{83, 64}</string>
				<string>{92, 89}</string>
				<string>{4, 154}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{750, 326}, {174, 158}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{180, 242}, {174, 158}}</string>
			<key>image</key>
			<string>umbrella_16.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{8, 157}</string>
				<string>{109, 74}</string>
				<string>{114, 85}</string>
				<string>{129, 94}</string>
				<string>{134, 109}</string>
				<string>{150, 120}</string>
				<string>{164, 137}</string>
				<string>{173, 118}</string>
				<string>{173, 92}</string>
				<string>{167, 65}</string>
				<string>{158, 38}</string>
				<string>{146, 27}</string>
				<string>{129, 14}</string>
				<string>{111, 7}</string>
				<string>{94, 2}</string>
				<string>{74, 2}</string>
				<string>{48, 6}</string>
				<string>{61, 17}</string>
				<string>{70, 32}</string>
				<string>{83, 41}</string>
				<string>{92, 55}</string>
				<string>{102, 67}</string>
				<string>{107, 69}</string>
				<string>{74, 97}</string>
				<string>{57, 108}</string>
				<string>{39, 122}</string>
				<string>{23, 136}</string>
				<string>{11, 144}</string>
				<string>{3, 152}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{805, 353}, {129, 135}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{261, 303}, {129, 135}}</string>
			<key>image</key>
			<string>umbrella_17.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{11, 122}</string>
				<string>{6, 117}</string>
				<string>{9, 111}</string>
				<string>{20, 106}</string>
				<string>{32, 97}</string>
				<string>{53, 81}</string>
				<string>{62, 86}</string>
				<string>{71, 95}</string>
				<string>{75, 108}</string>
				<string>{89, 114}</string>
				<string>{99, 125}</string>
				<string>{103, 133}</string>
				<string>{119, 117}</string>
				<string>{127, 95}</string>
				<string>{125, 63}</string>
				<string>{114, 36}</string>
				<string>{95, 15}</string>
				<string>{76, 5}</string>
				<string>{55, 2}</string>
				<string>{36, 4}</string>
				<string>{13, 17}</string>
				<string>{24, 24}</string>
				<string>{29, 40}</string>
				<string>{28, 49}</string>
				<string>{40, 55}</string>
				<string>{50, 70}</string>
				<string>{51, 77}</string>
				<string>{34, 88}</string>
				<string>{19, 96}</string>
				<string>{6, 109}</string>
				<string>{4, 124}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{770, 309}, {182, 182}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{202, 206}, {182, 182}}</string>
			<key>image</key>
			<string>umbrella_18.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{22, 122}</string>
				<string>{14, 115}</string>
				<string>{4, 115}</string>
				<string>{4, 136}</string>
				<string>{18, 142}</string>
				<string>{112, 87}</string>
				<string>{110, 112}</string>
				<string>{128, 119}</string>
				<string>{131, 144}</string>
				<string>{151, 151}</string>
				<string>{154, 174}</string>
				<string>{176, 145}</string>
				<string>{180, 106}</string>
				<string>{177, 73}</string>
				<string>{158, 38}</string>
				<string>{136, 18}</string>
				<string>{111, 4}</string>
				<string>{84, 4}</string>
				<string>{50, 8}</string>
				<string>{69, 19}</string>
				<string>{69, 41}</string>
				<string>{80, 41}</string>
				<string>{89, 50}</string>
				<string>{92, 68}</string>
				<string>{90, 78}</string>
				<string>{102, 78}</string>
				<string>{107, 82}</string>
				<string>{76, 103}</string>
				<string>{42, 125}</string>
				<string>{22, 133}</string>
				<string>{13, 128}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{760, 317}, {214, 182}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{255, 179}, {214, 182}}</string>
			<key>image</key>
			<string>umbrella_19.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{24, 179}</string>
				<string>{108, 116}</string>
				<string>{122, 147}</string>
				<string>{147, 158}</string>
				<string>{162, 171}</string>
				<string>{179, 174}</string>
				<string>{194, 181}</string>
				<string>{211, 125}</string>
				<string>{203, 65}</string>
				<string>{167, 22}</string>
				<string>{134, 5}</string>
				<string>{86, 3}</string>
				<string>{60, 9}</string>
				<string>{64, 23}</string>
				<string>{59, 42}</string>
				<string>{70, 60}</string>
				<string>{74, 85}</string>
				<string>{91, 97}</string>
				<string>{102, 109}</string>
				<string>{38, 159}</string>
				<string>{20, 169}</string>
				<string>{11, 164}</string>
				<string>{11, 152}</string>
				<string>{21, 144}</string>
				<string>{17, 137}</string>
				<string>{3, 149}</string>
				<string>{3, 163}</string>
				<string>{8, 173}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{743, 326}, {180, 175}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{348, 233}, {180, 175}}</string>
			<key>image</key>
			<string>umbrella_20.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{8, 170}</string>
				<string>{107, 93}</string>
				<string>{118, 96}</string>
				<string>{129, 105}</string>
				<string>{135, 132}</string>
				<string>{160, 146}</string>
				<string>{166, 172}</string>
				<string>{178, 138}</string>
				<string>{177, 103}</string>
				<string>{155, 59}</string>
				<string>{120, 20}</string>
				<string>{79, 5}</string>
				<string>{43, 7}</string>
				<string>{66, 19}</string>
				<string>{73, 48}</string>
				<string>{96, 62}</string>
				<string>{102, 86}</string>
				<string>{4, 166}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{747, 326}, {202, 179}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{320, 192}, {202, 179}}</string>
			<key>image</key>
			<string>umbrella_21.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{17, 131}</string>
				<string>{13, 128}</string>
				<string>{5, 134}</string>
				<string>{5, 157}</string>
				<string>{20, 166}</string>
				<string>{40, 159}</string>
				<string>{59, 151}</string>
				<string>{86, 130}</string>
				<string>{125, 101}</string>
				<string>{149, 111}</string>
				<string>{155, 131}</string>
				<string>{153, 142}</string>
				<string>{172, 150}</string>
				<string>{180, 165}</string>
				<string>{182, 178}</string>
				<string>{195, 156}</string>
				<string>{201, 127}</string>
				<string>{198, 97}</string>
				<string>{183, 57}</string>
				<string>{152, 28}</string>
				<string>{119, 11}</string>
				<string>{84, 6}</string>
				<string>{58, 13}</string>
				<string>{78, 28}</string>
				<string>{92, 52}</string>
				<string>{111, 65}</string>
				<string>{123, 83}</string>
				<string>{121, 92}</string>
				<string>{33, 157}</string>
				<string>{18, 157}</string>
				<string>{12, 148}</string>
				<string>{10, 142}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{768, 378}, {141, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{291, 280}, {141, 129}}</string>
			<key>image</key>
			<string>umbrella_2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{19, 114}</string>
				<string>{70, 74}</string>
				<string>{81, 76}</string>
				<string>{88, 85}</string>
				<string>{90, 102}</string>
				<string>{106, 107}</string>
				<string>{114, 121}</string>
				<string>{114, 127}</string>
				<string>{138, 80}</string>
				<string>{139, 43}</string>
				<string>{116, 13}</string>
				<string>{82, 1}</string>
				<string>{27, 13}</string>
				<string>{42, 21}</string>
				<string>{47, 41}</string>
				<string>{62, 52}</string>
				<string>{68, 69}</string>
				<string>{33, 97}</string>
				<string>{17, 109}</string>
				<string>{7, 104}</string>
				<string>{6, 96}</string>
				<string>{5, 89}</string>
				<string>{1, 107}</string>
				<string>{7, 111}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{714, 379}, {129, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{15, 290}, {129, 129}}</string>
			<key>image</key>
			<string>umbrella_7.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{18, 103}</string>
				<string>{71, 62}</string>
				<string>{57, 54}</string>
				<string>{49, 51}</string>
				<string>{42, 27}</string>
				<string>{33, 15}</string>
				<string>{20, 12}</string>
				<string>{34, 1}</string>
				<string>{61, 6}</string>
				<string>{119, 29}</string>
				<string>{129, 86}</string>
				<string>{126, 114}</string>
				<string>{110, 126}</string>
				<string>{108, 112}</string>
				<string>{100, 99}</string>
				<string>{87, 92}</string>
				<string>{80, 87}</string>
				<string>{75, 70}</string>
				<string>{24, 108}</string>
				<string>{14, 111}</string>
				<string>{5, 102}</string>
				<string>{3, 92}</string>
				<string>{10, 88}</string>
				<string>{12, 100}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{803, 343}, {159, 167}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{486, 134}, {159, 167}}</string>
			<key>image</key>
			<string>umbrella_11.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{14, 149}</string>
				<string>{91, 86}</string>
				<string>{96, 95}</string>
				<string>{128, 128}</string>
				<string>{131, 139}</string>
				<string>{153, 164}</string>
				<string>{158, 124}</string>
				<string>{153, 87}</string>
				<string>{140, 60}</string>
				<string>{134, 51}</string>
				<string>{144, 42}</string>
				<string>{142, 39}</string>
				<string>{131, 46}</string>
				<string>{111, 26}</string>
				<string>{93, 14}</string>
				<string>{69, 7}</string>
				<string>{29, 3}</string>
				<string>{43, 15}</string>
				<string>{51, 33}</string>
				<string>{58, 42}</string>
				<string>{67, 52}</string>
				<string>{77, 64}</string>
				<string>{87, 81}</string>
				<string>{37, 124}</string>
				<string>{11, 141}</string>
				<string>{10, 134}</string>
				<string>{15, 129}</string>
				<string>{11, 125}</string>
				<string>{4, 130}</string>
				<string>{2, 137}</string>
				<string>{2, 145}</string>
				<string>{11, 147}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{803, 343}, {159, 167}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{492, 148}, {159, 167}}</string>
			<key>image</key>
			<string>umbrella_11.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{14, 149}</string>
				<string>{91, 86}</string>
				<string>{96, 95}</string>
				<string>{128, 128}</string>
				<string>{131, 139}</string>
				<string>{153, 164}</string>
				<string>{158, 124}</string>
				<string>{153, 87}</string>
				<string>{140, 60}</string>
				<string>{134, 51}</string>
				<string>{144, 42}</string>
				<string>{142, 39}</string>
				<string>{131, 46}</string>
				<string>{111, 26}</string>
				<string>{93, 14}</string>
				<string>{69, 7}</string>
				<string>{29, 3}</string>
				<string>{43, 15}</string>
				<string>{51, 33}</string>
				<string>{58, 42}</string>
				<string>{67, 52}</string>
				<string>{77, 64}</string>
				<string>{87, 81}</string>
				<string>{37, 124}</string>
				<string>{11, 141}</string>
				<string>{10, 134}</string>
				<string>{15, 129}</string>
				<string>{11, 125}</string>
				<string>{4, 130}</string>
				<string>{2, 137}</string>
				<string>{2, 145}</string>
				<string>{11, 147}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{797, 330}, {178, 181}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{174, 163}, {178, 181}}</string>
			<key>image</key>
			<string>umbrella_15.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{12, 162}</string>
				<string>{100, 101}</string>
				<string>{116, 107}</string>
				<string>{122, 121}</string>
				<string>{127, 139}</string>
				<string>{143, 149}</string>
				<string>{151, 163}</string>
				<string>{157, 179}</string>
				<string>{176, 132}</string>
				<string>{170, 82}</string>
				<string>{155, 56}</string>
				<string>{159, 45}</string>
				<string>{148, 44}</string>
				<string>{125, 22}</string>
				<string>{98, 7}</string>
				<string>{68, 2}</string>
				<string>{32, 13}</string>
				<string>{52, 26}</string>
				<string>{65, 57}</string>
				<string>{83, 64}</string>
				<string>{92, 89}</string>
				<string>{4, 154}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{747, 326}, {202, 179}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{149, 274}, {202, 179}}</string>
			<key>image</key>
			<string>umbrella_21.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{17, 131}</string>
				<string>{13, 128}</string>
				<string>{5, 134}</string>
				<string>{5, 157}</string>
				<string>{20, 166}</string>
				<string>{40, 159}</string>
				<string>{59, 151}</string>
				<string>{86, 130}</string>
				<string>{125, 101}</string>
				<string>{149, 111}</string>
				<string>{155, 131}</string>
				<string>{153, 142}</string>
				<string>{172, 150}</string>
				<string>{180, 165}</string>
				<string>{182, 178}</string>
				<string>{195, 156}</string>
				<string>{201, 127}</string>
				<string>{198, 97}</string>
				<string>{183, 57}</string>
				<string>{152, 28}</string>
				<string>{119, 11}</string>
				<string>{84, 6}</string>
				<string>{58, 13}</string>
				<string>{78, 28}</string>
				<string>{92, 52}</string>
				<string>{111, 65}</string>
				<string>{123, 83}</string>
				<string>{121, 92}</string>
				<string>{33, 157}</string>
				<string>{18, 157}</string>
				<string>{12, 148}</string>
				<string>{10, 142}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{768, 378}, {141, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{251, 360}, {141, 129}}</string>
			<key>image</key>
			<string>umbrella_2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{19, 114}</string>
				<string>{70, 74}</string>
				<string>{81, 76}</string>
				<string>{88, 85}</string>
				<string>{90, 102}</string>
				<string>{106, 107}</string>
				<string>{114, 121}</string>
				<string>{114, 127}</string>
				<string>{138, 80}</string>
				<string>{139, 43}</string>
				<string>{116, 13}</string>
				<string>{82, 1}</string>
				<string>{27, 13}</string>
				<string>{42, 21}</string>
				<string>{47, 41}</string>
				<string>{62, 52}</string>
				<string>{68, 69}</string>
				<string>{33, 97}</string>
				<string>{17, 109}</string>
				<string>{7, 104}</string>
				<string>{6, 96}</string>
				<string>{5, 89}</string>
				<string>{1, 107}</string>
				<string>{7, 111}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{780, 322}, {165, 201}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{499, 226}, {165, 201}}</string>
			<key>image</key>
			<string>umbrella_9.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{7, 159}</string>
				<string>{80, 102}</string>
				<string>{87, 112}</string>
				<string>{99, 130}</string>
				<string>{103, 148}</string>
				<string>{114, 157}</string>
				<string>{129, 171}</string>
				<string>{146, 199}</string>
				<string>{158, 163}</string>
				<string>{164, 136}</string>
				<string>{158, 97}</string>
				<string>{136, 60}</string>
				<string>{112, 35}</string>
				<string>{80, 17}</string>
				<string>{38, 2}</string>
				<string>{10, 5}</string>
				<string>{25, 20}</string>
				<string>{32, 35}</string>
				<string>{48, 44}</string>
				<string>{63, 69}</string>
				<string>{65, 88}</string>
				<string>{72, 93}</string>
				<string>{75, 97}</string>
				<string>{35, 126}</string>
				<string>{13, 141}</string>
				<string>{2, 151}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{770, 309}, {182, 182}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{72, 297}, {182, 182}}</string>
			<key>image</key>
			<string>umbrella_18.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{22, 122}</string>
				<string>{14, 115}</string>
				<string>{4, 115}</string>
				<string>{4, 136}</string>
				<string>{18, 142}</string>
				<string>{112, 87}</string>
				<string>{110, 112}</string>
				<string>{128, 119}</string>
				<string>{131, 144}</string>
				<string>{151, 151}</string>
				<string>{154, 174}</string>
				<string>{176, 145}</string>
				<string>{180, 106}</string>
				<string>{177, 73}</string>
				<string>{158, 38}</string>
				<string>{136, 18}</string>
				<string>{111, 4}</string>
				<string>{84, 4}</string>
				<string>{50, 8}</string>
				<string>{69, 19}</string>
				<string>{69, 41}</string>
				<string>{80, 41}</string>
				<string>{89, 50}</string>
				<string>{92, 68}</string>
				<string>{90, 78}</string>
				<string>{102, 78}</string>
				<string>{107, 82}</string>
				<string>{76, 103}</string>
				<string>{42, 125}</string>
				<string>{22, 133}</string>
				<string>{13, 128}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{768, 378}, {141, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{410, 139}, {141, 129}}</string>
			<key>image</key>
			<string>umbrella_2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{19, 114}</string>
				<string>{70, 74}</string>
				<string>{81, 76}</string>
				<string>{88, 85}</string>
				<string>{90, 102}</string>
				<string>{106, 107}</string>
				<string>{114, 121}</string>
				<string>{114, 127}</string>
				<string>{138, 80}</string>
				<string>{139, 43}</string>
				<string>{116, 13}</string>
				<string>{82, 1}</string>
				<string>{27, 13}</string>
				<string>{42, 21}</string>
				<string>{47, 41}</string>
				<string>{62, 52}</string>
				<string>{68, 69}</string>
				<string>{33, 97}</string>
				<string>{17, 109}</string>
				<string>{7, 104}</string>
				<string>{6, 96}</string>
				<string>{5, 89}</string>
				<string>{1, 107}</string>
				<string>{7, 111}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{770, 309}, {182, 182}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{232, 140}, {182, 182}}</string>
			<key>image</key>
			<string>umbrella_18.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{22, 122}</string>
				<string>{14, 115}</string>
				<string>{4, 115}</string>
				<string>{4, 136}</string>
				<string>{18, 142}</string>
				<string>{112, 87}</string>
				<string>{110, 112}</string>
				<string>{128, 119}</string>
				<string>{131, 144}</string>
				<string>{151, 151}</string>
				<string>{154, 174}</string>
				<string>{176, 145}</string>
				<string>{180, 106}</string>
				<string>{177, 73}</string>
				<string>{158, 38}</string>
				<string>{136, 18}</string>
				<string>{111, 4}</string>
				<string>{84, 4}</string>
				<string>{50, 8}</string>
				<string>{69, 19}</string>
				<string>{69, 41}</string>
				<string>{80, 41}</string>
				<string>{89, 50}</string>
				<string>{92, 68}</string>
				<string>{90, 78}</string>
				<string>{102, 78}</string>
				<string>{107, 82}</string>
				<string>{76, 103}</string>
				<string>{42, 125}</string>
				<string>{22, 133}</string>
				<string>{13, 128}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{773, 327}, {170, 156}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{421, 318}, {170, 156}}</string>
			<key>image</key>
			<string>umbrella_10.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{12, 143}</string>
				<string>{92, 89}</string>
				<string>{102, 95}</string>
				<string>{109, 99}</string>
				<string>{119, 111}</string>
				<string>{123, 125}</string>
				<string>{137, 131}</string>
				<string>{149, 143}</string>
				<string>{155, 154}</string>
				<string>{168, 121}</string>
				<string>{168, 86}</string>
				<string>{159, 44}</string>
				<string>{120, 12}</string>
				<string>{90, 4}</string>
				<string>{48, 7}</string>
				<string>{61, 16}</string>
				<string>{69, 33}</string>
				<string>{69, 46}</string>
				<string>{80, 51}</string>
				<string>{88, 68}</string>
				<string>{88, 82}</string>
				<string>{27, 125}</string>
				<string>{17, 131}</string>
				<string>{13, 127}</string>
				<string>{9, 121}</string>
				<string>{4, 124}</string>
				<string>{3, 139}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{768, 378}, {141, 129}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTUmbrella</string>
			<key>frame</key>
			<string>{{477, 241}, {141, 129}}</string>
			<key>image</key>
			<string>umbrella_2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{19, 114}</string>
				<string>{70, 74}</string>
				<string>{81, 76}</string>
				<string>{88, 85}</string>
				<string>{90, 102}</string>
				<string>{106, 107}</string>
				<string>{114, 121}</string>
				<string>{114, 127}</string>
				<string>{138, 80}</string>
				<string>{139, 43}</string>
				<string>{116, 13}</string>
				<string>{82, 1}</string>
				<string>{27, 13}</string>
				<string>{42, 21}</string>
				<string>{47, 41}</string>
				<string>{62, 52}</string>
				<string>{68, 69}</string>
				<string>{33, 97}</string>
				<string>{17, 109}</string>
				<string>{7, 104}</string>
				<string>{6, 96}</string>
				<string>{5, 89}</string>
				<string>{1, 107}</string>
				<string>{7, 111}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
