<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>noOfItems</key>
	<integer>11</integer>
	<key>item1</key>
	<dict>
		<key>noOfLevels</key>
		<integer>1</integer>
		<key>levels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>background</key>
				<string>bg.jpg</string>
				<key>elements</key>
				<array>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{337, 703}, {396, 21}}</string>
						<key>image</key>
						<string>1.png</string>
						<key>touchPoints</key>
						<array>
							<string>{3, 4}</string>
							<string>{396, 3}</string>
							<string>{396, 20}</string>
							<string>{2, 19}</string>
							<string>{3, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{558, 398}, {302, 273}}</string>
						<key>image</key>
						<string>2.png</string>
						<key>touchPoints</key>
						<array>
							<string>{3, 260}</string>
							<string>{278, 4}</string>
							<string>{300, 20}</string>
							<string>{16, 272}</string>
							<string>{3, 260}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{531, 379}, {207, 349}}</string>
						<key>image</key>
						<string>3.png</string>
						<key>touchPoints</key>
						<array>
							<string>{14, 5}</string>
							<string>{206, 340}</string>
							<string>{191, 348}</string>
							<string>{3, 29}</string>
							<string>{14, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{598, 448}, {289, 285}}</string>
						<key>image</key>
						<string>4.png</string>
						<key>touchPoints</key>
						<array>
							<string>{2, 272}</string>
							<string>{272, 5}</string>
							<string>{287, 27}</string>
							<string>{18, 283}</string>
							<string>{2, 272}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{634, 399}, {208, 348}}</string>
						<key>image</key>
						<string>5.png</string>
						<key>touchPoints</key>
						<array>
							<string>{20, 5}</string>
							<string>{207, 317}</string>
							<string>{190, 345}</string>
							<string>{3, 13}</string>
							<string>{20, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{295, 279}, {240, 326}}</string>
						<key>image</key>
						<string>6.png</string>
						<key>touchPoints</key>
						<array>
							<string>{15, 4}</string>
							<string>{238, 313}</string>
							<string>{224, 324}</string>
							<string>{3, 19}</string>
							<string>{15, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{716, 179}, {104, 387}}</string>
						<key>image</key>
						<string>7.png</string>
						<key>touchPoints</key>
						<array>
							<string>{3, 382}</string>
							<string>{87, 5}</string>
							<string>{103, 33}</string>
							<string>{21, 383}</string>
							<string>{3, 382}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{510, 218}, {209, 345}}</string>
						<key>image</key>
						<string>8.png</string>
						<key>touchPoints</key>
						<array>
							<string>{4, 336}</string>
							<string>{194, 4}</string>
							<string>{208, 27}</string>
							<string>{18, 343}</string>
							<string>{4, 336}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{94, 315}, {21, 395}}</string>
						<key>image</key>
						<string>9.png</string>
						<key>touchPoints</key>
						<array>
							<string>{4, 4}</string>
							<string>{21, 6}</string>
							<string>{20, 390}</string>
							<string>{4, 394}</string>
							<string>{4, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{506, 182}, {287, 291}}</string>
						<key>image</key>
						<string>10.png</string>
						<key>touchPoints</key>
						<array>
							<string>{18, 5}</string>
							<string>{287, 275}</string>
							<string>{273, 289}</string>
							<string>{3, 19}</string>
							<string>{18, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{204, 161}, {173, 365}}</string>
						<key>image</key>
						<string>11.png</string>
						<key>touchPoints</key>
						<array>
							<string>{18, 363}</string>
							<string>{172, 27}</string>
							<string>{156, 4}</string>
							<string>{2, 357}</string>
							<string>{18, 363}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{61, 199}, {293, 295}}</string>
						<key>image</key>
						<string>12.png</string>
						<key>touchPoints</key>
						<array>
							<string>{19, 3}</string>
							<string>{291, 280}</string>
							<string>{278, 294}</string>
							<string>{3, 18}</string>
							<string>{19, 3}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{556, 316}, {211, 344}}</string>
						<key>image</key>
						<string>13.png</string>
						<key>touchPoints</key>
						<array>
							<string>{191, 4}</string>
							<string>{211, 11}</string>
							<string>{20, 341}</string>
							<string>{3, 324}</string>
							<string>{191, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{527, 343}, {35, 395}}</string>
						<key>image</key>
						<string>14.png</string>
						<key>touchPoints</key>
						<array>
							<string>{4, 5}</string>
							<string>{24, 4}</string>
							<string>{34, 394}</string>
							<string>{17, 394}</string>
							<string>{4, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{487, 230}, {215, 341}}</string>
						<key>image</key>
						<string>15.png</string>
						<key>touchPoints</key>
						<array>
							<string>{15, 4}</string>
							<string>{214, 330}</string>
							<string>{202, 340}</string>
							<string>{4, 23}</string>
							<string>{15, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{197, 409}, {334, 231}}</string>
						<key>image</key>
						<string>16.png</string>
						<key>touchPoints</key>
						<array>
							<string>{2, 215}</string>
							<string>{308, 3}</string>
							<string>{333, 18}</string>
							<string>{17, 229}</string>
							<string>{2, 215}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{585, 287}, {21, 396}}</string>
						<key>image</key>
						<string>17.png</string>
						<key>touchPoints</key>
						<array>
							<string>{4, 5}</string>
							<string>{22, 4}</string>
							<string>{20, 394}</string>
							<string>{4, 395}</string>
							<string>{4, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{652, 469}, {289, 285}}</string>
						<key>image</key>
						<string>18.png</string>
						<key>touchPoints</key>
						<array>
							<string>{3, 274}</string>
							<string>{269, 4}</string>
							<string>{289, 19}</string>
							<string>{17, 283}</string>
							<string>{3, 274}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{149, 217}, {298, 278}}</string>
						<key>image</key>
						<string>19.png</string>
						<key>touchPoints</key>
						<array>
							<string>{17, 4}</string>
							<string>{298, 264}</string>
							<string>{287, 277}</string>
							<string>{3, 22}</string>
							<string>{17, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{100, 278}, {112, 384}}</string>
						<key>image</key>
						<string>20.png</string>
						<key>touchPoints</key>
						<array>
							<string>{2, 11}</string>
							<string>{97, 382}</string>
							<string>{112, 353}</string>
							<string>{20, 4}</string>
							<string>{2, 11}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{31, 487}, {289, 286}}</string>
						<key>image</key>
						<string>21.png</string>
						<key>touchPoints</key>
						<array>
							<string>{17, 5}</string>
							<string>{286, 266}</string>
							<string>{271, 284}</string>
							<string>{3, 18}</string>
							<string>{17, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{293, 422}, {348, 209}}</string>
						<key>image</key>
						<string>22.png</string>
						<key>touchPoints</key>
						<array>
							<string>{25, 3}</string>
							<string>{347, 195}</string>
							<string>{338, 208}</string>
							<string>{4, 15}</string>
							<string>{25, 3}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{81, 375}, {264, 310}}</string>
						<key>image</key>
						<string>23.png</string>
						<key>touchPoints</key>
						<array>
							<string>{15, 3}</string>
							<string>{264, 296}</string>
							<string>{250, 311}</string>
							<string>{2, 20}</string>
							<string>{15, 3}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{278, 171}, {290, 287}}</string>
						<key>image</key>
						<string>24.png</string>
						<key>touchPoints</key>
						<array>
							<string>{3, 273}</string>
							<string>{270, 3}</string>
							<string>{288, 19}</string>
							<string>{15, 286}</string>
							<string>{3, 273}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{382, 298}, {112, 386}}</string>
						<key>image</key>
						<string>25.png</string>
						<key>touchPoints</key>
						<array>
							<string>{15, 4}</string>
							<string>{111, 375}</string>
							<string>{95, 386}</string>
							<string>{3, 39}</string>
							<string>{15, 4}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{745, 244}, {116, 385}}</string>
						<key>image</key>
						<string>26.png</string>
						<key>touchPoints</key>
						<array>
							<string>{99, 3}</string>
							<string>{3, 353}</string>
							<string>{15, 383}</string>
							<string>{115, 10}</string>
							<string>{99, 3}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{146, 337}, {152, 374}}</string>
						<key>image</key>
						<string>27.png</string>
						<key>touchPoints</key>
						<array>
							<string>{16, 3}</string>
							<string>{152, 365}</string>
							<string>{132, 373}</string>
							<string>{3, 34}</string>
							<string>{16, 3}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{460, 301}, {22, 394}}</string>
						<key>image</key>
						<string>28.png</string>
						<key>touchPoints</key>
						<array>
							<string>{3, 3}</string>
							<string>{22, 3}</string>
							<string>{21, 392}</string>
							<string>{3, 392}</string>
							<string>{3, 3}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{757, 377}, {184, 360}}</string>
						<key>image</key>
						<string>29.png</string>
						<key>touchPoints</key>
						<array>
							<string>{19, 359}</string>
							<string>{183, 25}</string>
							<string>{169, 4}</string>
							<string>{4, 354}</string>
							<string>{19, 359}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{229, 323}, {206, 350}}</string>
						<key>image</key>
						<string>30.png</string>
						<key>touchPoints</key>
						<array>
							<string>{21, 5}</string>
							<string>{205, 322}</string>
							<string>{191, 349}</string>
							<string>{3, 14}</string>
							<string>{21, 5}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{197, 396}, {257, 316}}</string>
						<key>image</key>
						<string>31.png</string>
						<key>touchPoints</key>
						<array>
							<string>{257, 303}</string>
							<string>{14, 3}</string>
							<string>{3, 20}</string>
							<string>{244, 314}</string>
							<string>{257, 303}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{389, 301}, {118, 386}}</string>
						<key>image</key>
						<string>32.png</string>
						<key>touchPoints</key>
						<array>
							<string>{4, 380}</string>
							<string>{105, 3}</string>
							<string>{119, 35}</string>
							<string>{21, 385}</string>
							<string>{4, 380}</string>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>TTBase</string>
						<key>frame</key>
						<string>{{289, 231}, {368, 170}}</string>
						<key>image</key>
						<string>33.png</string>
						<key>touchPoints</key>
						<array>
							<string>{2, 18}</string>
							<string>{344, 169}</string>
							<string>{367, 155}</string>
							<string>{13, 3}</string>
							<string>{2, 18}</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
