<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>21</string>
	<key>baskets</key>
	<array>
		<dict>
			<key>basket</key>
			<string>iPh_key_container.png</string>
			<key>basket_frame</key>
			<string>{1, 163.5}</string>
		</dict>
	</array>
	<key>elements</key>
	<array>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{76, 256}, {43, 39}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{319.5, 201.5}, {43, 39}}</string>
			<key>image</key>
			<string>iPh_key1.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{35.5, 1.5}</string>
				<string>{10, 24.5}</string>
				<string>{1.5, 24.5}</string>
				<string>{1.5, 36.5}</string>
				<string>{15.5, 37.5}</string>
				<string>{15, 30.5}</string>
				<string>{29.5, 15}</string>
				<string>{35.5, 19}</string>
				<string>{43, 9}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{68.5, 267}, {74, 30}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{325.5, 159.5}, {74, 30}}</string>
			<key>image</key>
			<string>iPh_key2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{29.5, 8.5}</string>
				<string>{73.5, 9.5}</string>
				<string>{72, 18}</string>
				<string>{30.5, 20.5}</string>
				<string>{24.5, 28}</string>
				<string>{5.5, 28.5}</string>
				<string>{1.5, 23}</string>
				<string>{1, 8.5}</string>
				<string>{6.5, 2.5}</string>
				<string>{25.5, 2}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{113, 245}, {71, 44}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{318, 224}, {71, 44}}</string>
			<key>image</key>
			<string>iPh_key3.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{37.5, 17.5}</string>
				<string>{71, 35}</string>
				<string>{65, 43}</string>
				<string>{34.5, 30.5}</string>
				<string>{20, 36}</string>
				<string>{5.5, 30}</string>
				<string>{1, 23}</string>
				<string>{3, 7.5}</string>
				<string>{8, 2}</string>
				<string>{26, 1}</string>
				<string>{35.5, 7}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{86.5, 239.5}, {53, 46}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{254.5, 159}, {53, 46}}</string>
			<key>image</key>
			<string>iPh_key4.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{15, 32.5}</string>
				<string>{36.5, 10.5}</string>
				<string>{33, 2}</string>
				<string>{52, 1.5}</string>
				<string>{52, 19.5}</string>
				<string>{41, 17}</string>
				<string>{11, 44}</string>
				<string>{2.5, 44.5}</string>
				<string>{0.5, 37.5}</string>
				<string>{8.5, 28.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{72.5, 218.5}, {71, 73}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{280, 213}, {71, 73}}</string>
			<key>image</key>
			<string>iPh_key5.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{44, 30}</string>
				<string>{45, 14}</string>
				<string>{39.5, 7.5}</string>
				<string>{27.5, 0.5}</string>
				<string>{8, 2.5}</string>
				<string>{2, 10}</string>
				<string>{2.5, 33}</string>
				<string>{12.5, 43}</string>
				<string>{27.5, 47.5}</string>
				<string>{57, 71.5}</string>
				<string>{70, 73.5}</string>
				<string>{70, 57}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{58, 221}, {57, 56}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{268, 202}, {57, 56}}</string>
			<key>image</key>
			<string>iPh_key6.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{1, 50.5}</string>
				<string>{27, 21}</string>
				<string>{26, 3.5}</string>
				<string>{38, 1.5}</string>
				<string>{52, 2.5}</string>
				<string>{57, 8.5}</string>
				<string>{55.5, 29.5}</string>
				<string>{38, 33}</string>
				<string>{16.5, 56.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{82, 244}, {52, 51}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{366, 177}, {52, 51}}</string>
			<key>image</key>
			<string>iPh_key7.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{29.5, 20.5}</string>
				<string>{50.5, 44.5}</string>
				<string>{50, 50}</string>
				<string>{41, 49}</string>
				<string>{21, 31.5}</string>
				<string>{8.5, 33.5}</string>
				<string>{2, 31.5}</string>
				<string>{3, 1.5}</string>
				<string>{32.5, -0.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{91, 208}, {49, 81}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{330.5, 187}, {49, 81}}</string>
			<key>image</key>
			<string>iPh_key8.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{17.5, 31.5}</string>
				<string>{1.5, 69}</string>
				<string>{6, 80.5}</string>
				<string>{29.5, 39.5}</string>
				<string>{48, 28}</string>
				<string>{48, 7}</string>
				<string>{40.5, 1.5}</string>
				<string>{25, 1.5}</string>
				<string>{15.5, 9.5}</string>
				<string>{13.5, 24}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{45.5, 224}, {77, 55}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{251, 186.5}, {77, 55}}</string>
			<key>image</key>
			<string>iPh_key9.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{1, 42}</string>
				<string>{45, 21.5}</string>
				<string>{49.5, 16.5}</string>
				<string>{53.5, 2}</string>
				<string>{66, 2}</string>
				<string>{75, 7}</string>
				<string>{76, 30}</string>
				<string>{59.5, 29}</string>
				<string>{51, 27.5}</string>
				<string>{46, 27}</string>
				<string>{10.5, 44}</string>
				<string>{14, 53.5}</string>
				<string>{4, 54.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{113, 207.5}, {50, 84}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{331, 154.5}, {50, 84}}</string>
			<key>image</key>
			<string>iPh_key10.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{38, 34.5}</string>
				<string>{45, 22.5}</string>
				<string>{42.5, 10}</string>
				<string>{31.5, 1.5}</string>
				<string>{12.5, 3}</string>
				<string>{3, 9}</string>
				<string>{1, 22}</string>
				<string>{4.5, 34.5}</string>
				<string>{17, 41.5}</string>
				<string>{18.5, 48.5}</string>
				<string>{24, 47.5}</string>
				<string>{38.5, 81.5}</string>
				<string>{48.5, 82}</string>
				<string>{50, 73}</string>
				<string>{37, 42}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{57, 253.5}, {79, 27}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{297, 182.5}, {79, 27}}</string>
			<key>image</key>
			<string>iPh_key11.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{77, 11}</string>
				<string>{27, 8.5}</string>
				<string>{27, 1.5}</string>
				<string>{1.5, 1.5}</string>
				<string>{1, 25.5}</string>
				<string>{26.5, 27}</string>
				<string>{28.5, 19}</string>
				<string>{78, 19.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{164.5, 215.5}, {33, 75}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{322, 160}, {33, 75}}</string>
			<key>image</key>
			<string>iPh_key12.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{32, 21}</string>
				<string>{30.5, 6.5}</string>
				<string>{25, 2}</string>
				<string>{9.5, 2}</string>
				<string>{2.5, 10.5}</string>
				<string>{2.5, 24.5}</string>
				<string>{13, 31}</string>
				<string>{14.5, 61.5}</string>
				<string>{5.5, 62.5}</string>
				<string>{6, 73}</string>
				<string>{20, 73}</string>
				<string>{21.5, 32.5}</string>
				<string>{25, 24.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{96.5, 225}, {60, 69}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{356.5, 196}, {60, 69}}</string>
			<key>image</key>
			<string>iPh_key13.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{17.5, 4}</string>
				<string>{28.5, 4}</string>
				<string>{35.5, 7.5}</string>
				<string>{37.5, 21}</string>
				<string>{43.5, 32.5}</string>
				<string>{60, 60}</string>
				<string>{52.5, 70.5}</string>
				<string>{21.5, 37}</string>
				<string>{9.5, 36}</string>
				<string>{4, 34.5}</string>
				<string>{2, 29.5}</string>
				<string>{2.5, 22}</string>
				<string>{3, 14}</string>
				<string>{3, 3}</string>
				<string>{10, 1.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{69.5, 239.5}, {81, 55}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{351.5, 191}, {81, 55}}</string>
			<key>image</key>
			<string>iPh_key14.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{80.5, 36}</string>
				<string>{30.5, 15.5}</string>
				<string>{25, 4}</string>
				<string>{18, 2}</string>
				<string>{10.5, 6}</string>
				<string>{1.5, 7}</string>
				<string>{1.5, 14.5}</string>
				<string>{6, 20.5}</string>
				<string>{12, 26.5}</string>
				<string>{24, 26}</string>
				<string>{27.5, 22}</string>
				<string>{60.5, 36.5}</string>
				<string>{56, 48.5}</string>
				<string>{70, 55}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{125.5, 214}, {40, 85}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{260, 188.5}, {40, 85}}</string>
			<key>image</key>
			<string>iPh_key15.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{32.5, 32}</string>
				<string>{38, 23}</string>
				<string>{36.5, 7.5}</string>
				<string>{23, 2.5}</string>
				<string>{11.5, 5}</string>
				<string>{2, 12}</string>
				<string>{3, 28}</string>
				<string>{15, 38}</string>
				<string>{16.5, 47.5}</string>
				<string>{20.5, 52.5}</string>
				<string>{27.5, 81}</string>
				<string>{36, 84.5}</string>
				<string>{39, 79}</string>
				<string>{37.5, 68}</string>
				<string>{34, 67}</string>
				<string>{31.5, 48}</string>
				<string>{35, 38.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{61.5, 220.5}, {62, 61}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{294.5, 136.5}, {62, 61}}</string>
			<key>image</key>
			<string>iPh_key16.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{30, 22.5}</string>
				<string>{1.5, 55.5}</string>
				<string>{8, 60}</string>
				<string>{38.5, 35}</string>
				<string>{55.5, 30}</string>
				<string>{60.5, 19.5}</string>
				<string>{60.5, 7.5}</string>
				<string>{50.5, 2.5}</string>
				<string>{38, 2.5}</string>
				<string>{28.5, 12}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{68.5, 267}, {74, 30}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{405, 207}, {74, 30}}</string>
			<key>image</key>
			<string>iPh_key2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{29.5, 8.5}</string>
				<string>{73.5, 9.5}</string>
				<string>{72, 18}</string>
				<string>{30.5, 20.5}</string>
				<string>{24.5, 28}</string>
				<string>{5.5, 28.5}</string>
				<string>{1.5, 23}</string>
				<string>{1, 8.5}</string>
				<string>{6.5, 2.5}</string>
				<string>{25.5, 2}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{113, 245}, {71, 44}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{393, 213.5}, {71, 44}}</string>
			<key>image</key>
			<string>iPh_key3.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{37.5, 17.5}</string>
				<string>{71, 35}</string>
				<string>{65, 43}</string>
				<string>{34.5, 30.5}</string>
				<string>{20, 36}</string>
				<string>{5.5, 30}</string>
				<string>{1, 23}</string>
				<string>{3, 7.5}</string>
				<string>{8, 2}</string>
				<string>{26, 1}</string>
				<string>{35.5, 7}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{86.5, 239.5}, {53, 46}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{354, 243}, {53, 46}}</string>
			<key>image</key>
			<string>iPh_key4.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{15, 32.5}</string>
				<string>{36.5, 10.5}</string>
				<string>{33, 2}</string>
				<string>{52, 1.5}</string>
				<string>{52, 19.5}</string>
				<string>{41, 17}</string>
				<string>{11, 44}</string>
				<string>{2.5, 44.5}</string>
				<string>{0.5, 37.5}</string>
				<string>{8.5, 28.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{72.5, 218.5}, {71, 73}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{388, 134}, {71, 73}}</string>
			<key>image</key>
			<string>iPh_key5.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{44, 30}</string>
				<string>{45, 14}</string>
				<string>{39.5, 7.5}</string>
				<string>{27.5, 0.5}</string>
				<string>{8, 2.5}</string>
				<string>{2, 10}</string>
				<string>{2.5, 33}</string>
				<string>{12.5, 43}</string>
				<string>{27.5, 47.5}</string>
				<string>{57, 71.5}</string>
				<string>{70, 73.5}</string>
				<string>{70, 57}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{58, 221}, {57, 56}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{314, 102}, {57, 56}}</string>
			<key>image</key>
			<string>iPh_key6.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{1, 50.5}</string>
				<string>{27, 21}</string>
				<string>{26, 3.5}</string>
				<string>{38, 1.5}</string>
				<string>{52, 2.5}</string>
				<string>{57, 8.5}</string>
				<string>{55.5, 29.5}</string>
				<string>{38, 33}</string>
				<string>{16.5, 56.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{82, 244}, {52, 51}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{258, 112.5}, {52, 51}}</string>
			<key>image</key>
			<string>iPh_key7.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{29.5, 20.5}</string>
				<string>{50.5, 44.5}</string>
				<string>{50, 50}</string>
				<string>{41, 49}</string>
				<string>{21, 31.5}</string>
				<string>{8.5, 33.5}</string>
				<string>{2, 31.5}</string>
				<string>{3, 1.5}</string>
				<string>{32.5, -0.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{91, 208}, {49, 81}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{324.5, 151}, {49, 81}}</string>
			<key>image</key>
			<string>iPh_key8.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{17.5, 31.5}</string>
				<string>{1.5, 69}</string>
				<string>{6, 80.5}</string>
				<string>{29.5, 39.5}</string>
				<string>{48, 28}</string>
				<string>{48, 7}</string>
				<string>{40.5, 1.5}</string>
				<string>{25, 1.5}</string>
				<string>{15.5, 9.5}</string>
				<string>{13.5, 24}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{45.5, 224}, {77, 55}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{254.5, 110}, {77, 55}}</string>
			<key>image</key>
			<string>iPh_key9.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{1, 42}</string>
				<string>{45, 21.5}</string>
				<string>{49.5, 16.5}</string>
				<string>{53.5, 2}</string>
				<string>{66, 2}</string>
				<string>{75, 7}</string>
				<string>{76, 30}</string>
				<string>{59.5, 29}</string>
				<string>{51, 27.5}</string>
				<string>{46, 27}</string>
				<string>{10.5, 44}</string>
				<string>{14, 53.5}</string>
				<string>{4, 54.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{113, 207.5}, {50, 84}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{238.5, 145}, {50, 84}}</string>
			<key>image</key>
			<string>iPh_key10.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{38, 34.5}</string>
				<string>{45, 22.5}</string>
				<string>{42.5, 10}</string>
				<string>{31.5, 1.5}</string>
				<string>{12.5, 3}</string>
				<string>{3, 9}</string>
				<string>{1, 22}</string>
				<string>{4.5, 34.5}</string>
				<string>{17, 41.5}</string>
				<string>{18.5, 48.5}</string>
				<string>{24, 47.5}</string>
				<string>{38.5, 81.5}</string>
				<string>{48.5, 82}</string>
				<string>{50, 73}</string>
				<string>{37, 42}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{57, 253.5}, {79, 27}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{295.5, 248.5}, {79, 27}}</string>
			<key>image</key>
			<string>iPh_key11.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{77, 11}</string>
				<string>{27, 8.5}</string>
				<string>{27, 1.5}</string>
				<string>{1.5, 1.5}</string>
				<string>{1, 25.5}</string>
				<string>{26.5, 27}</string>
				<string>{28.5, 19}</string>
				<string>{78, 19.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{164.5, 215.5}, {33, 75}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{247.5, 199}, {33, 75}}</string>
			<key>image</key>
			<string>iPh_key12.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{32, 21}</string>
				<string>{30.5, 6.5}</string>
				<string>{25, 2}</string>
				<string>{9.5, 2}</string>
				<string>{2.5, 10.5}</string>
				<string>{2.5, 24.5}</string>
				<string>{13, 31}</string>
				<string>{14.5, 61.5}</string>
				<string>{5.5, 62.5}</string>
				<string>{6, 73}</string>
				<string>{20, 73}</string>
				<string>{21.5, 32.5}</string>
				<string>{25, 24.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{96.5, 225}, {60, 69}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{363.5, 116.5}, {60, 69}}</string>
			<key>image</key>
			<string>iPh_key13.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{17.5, 4}</string>
				<string>{28.5, 4}</string>
				<string>{35.5, 7.5}</string>
				<string>{37.5, 21}</string>
				<string>{43.5, 32.5}</string>
				<string>{60, 60}</string>
				<string>{52.5, 70.5}</string>
				<string>{21.5, 37}</string>
				<string>{9.5, 36}</string>
				<string>{4, 34.5}</string>
				<string>{2, 29.5}</string>
				<string>{2.5, 22}</string>
				<string>{3, 14}</string>
				<string>{3, 3}</string>
				<string>{10, 1.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{69.5, 239.5}, {81, 55}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{321, 118.5}, {81, 55}}</string>
			<key>image</key>
			<string>iPh_key14.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{80.5, 36}</string>
				<string>{30.5, 15.5}</string>
				<string>{25, 4}</string>
				<string>{18, 2}</string>
				<string>{10.5, 6}</string>
				<string>{1.5, 7}</string>
				<string>{1.5, 14.5}</string>
				<string>{6, 20.5}</string>
				<string>{12, 26.5}</string>
				<string>{24, 26}</string>
				<string>{27.5, 22}</string>
				<string>{60.5, 36.5}</string>
				<string>{56, 48.5}</string>
				<string>{70, 55}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{125.5, 214}, {40, 85}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{266, 135}, {40, 85}}</string>
			<key>image</key>
			<string>iPh_key15.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{32.5, 32}</string>
				<string>{38, 23}</string>
				<string>{36.5, 7.5}</string>
				<string>{23, 2.5}</string>
				<string>{11.5, 5}</string>
				<string>{2, 12}</string>
				<string>{3, 28}</string>
				<string>{15, 38}</string>
				<string>{16.5, 47.5}</string>
				<string>{20.5, 52.5}</string>
				<string>{27.5, 81}</string>
				<string>{36, 84.5}</string>
				<string>{39, 79}</string>
				<string>{37.5, 68}</string>
				<string>{34, 67}</string>
				<string>{31.5, 48}</string>
				<string>{35, 38.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{61.5, 220.5}, {62, 61}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{263.5, 131}, {62, 61}}</string>
			<key>image</key>
			<string>iPh_key16.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{30, 22.5}</string>
				<string>{1.5, 55.5}</string>
				<string>{8, 60}</string>
				<string>{38.5, 35}</string>
				<string>{55.5, 30}</string>
				<string>{60.5, 19.5}</string>
				<string>{60.5, 7.5}</string>
				<string>{50.5, 2.5}</string>
				<string>{38, 2.5}</string>
				<string>{28.5, 12}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{68.5, 267}, {74, 30}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{361.5, 151}, {74, 30}}</string>
			<key>image</key>
			<string>iPh_key2.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{29.5, 8.5}</string>
				<string>{73.5, 9.5}</string>
				<string>{72, 18}</string>
				<string>{30.5, 20.5}</string>
				<string>{24.5, 28}</string>
				<string>{5.5, 28.5}</string>
				<string>{1.5, 23}</string>
				<string>{1, 8.5}</string>
				<string>{6.5, 2.5}</string>
				<string>{25.5, 2}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{113, 245}, {71, 44}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{335.5, 218.5}, {71, 44}}</string>
			<key>image</key>
			<string>iPh_key3.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{37.5, 17.5}</string>
				<string>{71, 35}</string>
				<string>{65, 43}</string>
				<string>{34.5, 30.5}</string>
				<string>{20, 36}</string>
				<string>{5.5, 30}</string>
				<string>{1, 23}</string>
				<string>{3, 7.5}</string>
				<string>{8, 2}</string>
				<string>{26, 1}</string>
				<string>{35.5, 7}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{86.5, 239.5}, {53, 46}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{286.5, 143.5}, {53, 46}}</string>
			<key>image</key>
			<string>iPh_key4.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{15, 32.5}</string>
				<string>{36.5, 10.5}</string>
				<string>{33, 2}</string>
				<string>{52, 1.5}</string>
				<string>{52, 19.5}</string>
				<string>{41, 17}</string>
				<string>{11, 44}</string>
				<string>{2.5, 44.5}</string>
				<string>{0.5, 37.5}</string>
				<string>{8.5, 28.5}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{72.5, 218.5}, {71, 73}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{358, 133}, {71, 73}}</string>
			<key>image</key>
			<string>iPh_key5.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{44, 30}</string>
				<string>{45, 14}</string>
				<string>{39.5, 7.5}</string>
				<string>{27.5, 0.5}</string>
				<string>{8, 2.5}</string>
				<string>{2, 10}</string>
				<string>{2.5, 33}</string>
				<string>{12.5, 43}</string>
				<string>{27.5, 47.5}</string>
				<string>{57, 71.5}</string>
				<string>{70, 73.5}</string>
				<string>{70, 57}</string>
			</array>
		</dict>
		<dict>
			<key>animation</key>
			<dict>
				<key>frame</key>
				<string>{{58, 221}, {57, 56}}</string>
				<key>rotateAngle</key>
				<string>0.000000</string>
				<key>scale</key>
				<string>0.000000</string>
			</dict>
			<key>class</key>
			<string>TTKey</string>
			<key>frame</key>
			<string>{{377, 182}, {57, 56}}</string>
			<key>image</key>
			<string>iPh_key6.png</string>
			<key>isPicked</key>
			<false/>
			<key>touchPoints</key>
			<array>
				<string>{1, 50.5}</string>
				<string>{27, 21}</string>
				<string>{26, 3.5}</string>
				<string>{38, 1.5}</string>
				<string>{52, 2.5}</string>
				<string>{57, 8.5}</string>
				<string>{55.5, 29.5}</string>
				<string>{38, 33}</string>
				<string>{16.5, 56.5}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
